<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<link
			href="https://fonts.googleapis.com/css2?family=Golos+Text:wght@400..900&display=swap"
			rel="stylesheet"
			dns-prefetch
		/>
		<title>Coinstars</title>
	</head>
	<body>
		<slot />
	</body>
</html>
